/*Copy Element*/

.row .row {
    margin-left: -15px;
    margin-right: -15px;
}

.row, .clearfix {
    clear: both;
}


.row:before, .row:after, .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.wpv-grid.animated-active.animation-ended.animation-from-left {
    animation: element-from-left .7s 1 ease-out;
}
.wpv-grid.animated-active.animation-ended {
    opacity: 1;
    -webkit-backface-visibility: hidden;
}
.wpv-grid.animated-active {
    opacity: 0;
}

.grid-3-4 {
    width: 75%;
}

.grid-1-1, .grid-1-2, .grid-1-3, .grid-1-4, .grid-1-5, .grid-1-6, .grid-2-3, .grid-2-5, .grid-3-4, .grid-3-5, .grid-4-5, .grid-5-6 {
    position: relative;
    padding: 0;
    float: left;
    box-sizing: border-box;
    display: block;
    padding: 0 15px;
}

.text-divider-double {
    position: relative;
    margin: 60px 0 12px;
    text-align: left;
}

.text-divider-double+.sep {
    margin: 0 0 30px;
}
.sep, .sep-2, .sep-3 {
    position: relative;
    display: block;
    clear: both;
    margin: 60px 0 30px;
    min-width: 100%;
    height: 1px;
    border-top: 1px solid;
    color: #dadade;
}


.sep:before {
    width: 60px;
    content: "";
    height: 2px;
    background: #3695eb;
    position: absolute;
    z-index: 55;
    top: -1px;
}

.wpv-grid.animated-active.animation-ended.animation-from-left {
    animation: element-from-left .7s 1 ease-out;
}
.wpv-grid.animated-active.animation-ended {
    opacity: 1;
    -webkit-backface-visibility: hidden;
}
.wpv-grid.animated-active {
    opacity: 0;
}

.grid-2-5 {
    width: 40%;
}

p {
    margin: 1.2em 0;
}
img.alignleft {
    margin: 0 25px 20px 0;
}
.boxed-layout img {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    height: auto;
}
.alignleft {
    float: left;
    margin: 1em 1.5em 1em 0;
}
.wpv-grid.animated-active.animation-ended.animation-fade-in {
    transition: opacity .8s ease-out;
    -webkit-backface-visibility: hidden;
}

.wpv-grid.animated-active.animation-ended {
    opacity: 1;
    -webkit-backface-visibility: hidden;
}

.styled-list {
    padding: 0;
    margin-left: .3em;
    list-style: none;
}

ul, ol {
    margin: .4em 0 .4em 1.3em;
}
.styled-list li {
    padding-left: 1.5em;
    text-indent: -1.5em;
}
ul li, ol li {
    padding-bottom: 2px;
}


.styled-list.icon-accent2 li:before {
    color: #b5e0fc;
}

.styled-list li:before {
    text-indent: 0;
}

.icon-b:before {
    padding-right: .5em;
}

.icon-b:before, .icon-a:after {
    content: " " attr(data-icon) " ";
}

.icon, .icon-a:after, .icon-b:before {
    font-family: icomoon!important;
    font-weight: 400!important;
    font-style: normal!important;
    display: inline-block;
    min-width: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
}


.wpv-grid.animated-active.animation-ended.animation-from-right {
    animation: element-from-right .7s 1 ease-out;
}

.wpv-grid.animated-active.animation-ended {
    opacity: 1;
    -webkit-backface-visibility: hidden;
}

.wpv-grid.animated-active {
    opacity: 0;
}

.grid-1-4 {
    width: 25%;
}

.grid-1-1, .grid-1-2, .grid-1-3, .grid-1-4, .grid-1-5, .grid-1-6, .grid-2-3, .grid-2-5, .grid-3-4, .grid-3-5, .grid-4-5, .grid-5-6 {
    position: relative;
    padding: 0;
    float: left;
    box-sizing: border-box;
    display: block;
    padding: 0 15px;
}


.text-divider-double {
    position: relative;
    margin: 60px 0 12px;
    text-align: left;
}

.text-divider-double+.sep {
    margin: 0 0 30px;
}
.sep, .sep-2, .sep-3 {
    position: relative;
    display: block;
    clear: both;
    margin: 60px 0 30px;
    min-width: 100%;
    height: 1px;
    border-top: 1px solid;
    color: #dadade;
}

.sep:before {
    width: 60px;
    content: "";
    height: 2px;
    background: #3695eb;
    position: absolute;
    z-index: 55;
    top: -1px;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.wpv-accordion {
    margin: 0;
    padding-top: 15px;
    list-style: none;
    font-size: inherit;
}

.wpv-accordion .pane-wrapper:first-child, .wpv-accordion .pane-wrapper:first-child .tab .inner {
    border-radius: 4px 4px 0 0;
}
.wpv-accordion .pane-wrapper {
    background-position: top center;
    background-size: cover;
    padding-bottom: 0;
    border-bottom: 1px solid #f5f5f6;
}


.wpv-accordion .tab.ui-state-active.has-bg {
    background: 0 0;
}

.wpv-accordion .tab.ui-state-hover, .wpv-accordion .tab.ui-state-active, .wpv-accordion .tab.ui-state-selected {
    background-color: #f5f5f6;
    border-color: #f5f5f6;
}

.wpv-accordion .tab:first-child {
    border-top: 0;
}

.wpv-accordion .tab {
    position: relative;
    font-size: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    outline: none;
    border: 0;
    border-top: 1px solid #f5f5f6;
}

.wpv-accordion .tab .ui-icon {
    width: 40px;
    line-height: 54px;
    font-size: 17px;
    font-style: normal;
    display: block;
    position: absolute;
    top: auto;
    right: 10px;
    left: auto;
    margin: auto;
    text-align: center;
    background: 0 0;
    text-indent: 0;
    overflow: visible;
}


.wpv-accordion .tab.ui-state-hover .ui-icon:after, .wpv-accordion .tab.ui-state-active .ui-icon:after, .wpv-accordion .tab.ui-state-selected .ui-icon:after {
    content: "\e60f";
    color: #b5e0fc!important;
    font-family: theme;
}
.wpv-accordion .tab .ui-icon:after {
    content: "\e60e";
    color: #b5e0fc;
    font-family: theme;
}

.wpv-accordion .pane-wrapper:first-child, .wpv-accordion .pane-wrapper:first-child .tab .inner {
    border-radius: 4px 4px 0 0;
}
.wpv-accordion .tab.ui-state-active.has-bg .inner {
    opacity: 0;
}
.wpv-accordion-1 .tab .inner {
    background-color: #3695EB;
    color: #ffffff;
}
.wpv-accordion .tab .inner {
    padding: 18px 55px 18px 20px;
    margin: 0;
    cursor: pointer;
    outline: none!important;
    display: block;
    font: normal 17px/22px "Asap";
    color: #fff;
    background-color: #3695eb;
    transition: opacity .3s ease;
}


.wpv-accordion .pane {
    border: 0;
    padding: 0;
    background: 0 0;
    border-radius: 0;
}

.wpv-accordion .pane .inner {
    padding: 10px 20px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: .4em;
    margin-bottom: .4em;
}

h4, h4 a, h4 footer.main-footer a {
    font: normal 17px/22px "Asap";
}

h4, h4 a, h4 a:visited {
    color: #000;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: .4em;
    margin-bottom: .4em;
}
h5, h5 a, h5 footer.main-footer a {
    font: bold 11px/12px "Asap";
}
h5, h5 a, h5 a:visited {
    color: #3695eb;
}

p {
    margin: 1.2em 0;
}
*, p, .main-container {
    font: normal 14px/20px "Asap";
}
html, body, th, td, p {
    color: #898989;
}

.wpv-accordion .pane-wrapper {
    background-position: top center;
    background-size: cover;
    padding-bottom: 0;
    border-bottom: 1px solid #f5f5f6;
}

.wpv-accordion .tab:first-child {
    border-top: 0;
}
.wpv-accordion .tab {
    position: relative;
    font-size: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    outline: none;
    border: 0;
    border-top: 1px solid #f5f5f6;
}

.wpv-accordion .tab .ui-icon {
    width: 40px;
    line-height: 54px;
    font-size: 17px;
    font-style: normal;
    display: block;
    position: absolute;
    top: auto;
    right: 10px;
    left: auto;
    margin: auto;
    text-align: center;
    background: 0 0;
    text-indent: 0;
    overflow: visible;
}

.wpv-accordion-1 .tab .inner {
    background-color: #3695EB;
    color: #ffffff;
}
.wpv-accordion .tab .inner {
    padding: 18px 55px 18px 20px;
    margin: 0;
    cursor: pointer;
    outline: none!important;
    display: block;
    font: normal 17px/22px "Asap";
    color: #fff;
    background-color: #3695eb;
    transition: opacity .3s ease;
}

.wpv-accordion .pane {
    border: 0;
    padding: 0;
    background: 0 0;
    border-radius: 0;
}

h1 .icon.shortcode, h2 .icon.shortcode, h3 .icon.shortcode, h4 .icon.shortcode, h5 .icon.shortcode, h6 .icon.shortcode {
    vertical-align: bottom;
}

.icon.shortcode {
    line-height: 1;
}

.theme.icon, .theme.icon-a:after, .theme.icon-b:before {
    font-family: theme!important;
}

.icon, .icon-a:after, .icon-b:before {
    font-family: icomoon!important;
    font-weight: 400!important;
    font-style: normal!important;
    display: inline-block;
    min-width: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
}
/*Copy Element*/