@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -16rem;
  }
}
@media(min-width: 992px) {
	.menu-toggle-div{
		display: none;
	}
	#sidebar-wrapper{
		display: none;
	}
}

@media(max-width: 991px) {

.container.header-con {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

div#header-logo-div {
    padding-left: 25px;
    margin-top: -10px;
}

.logo-div {
    padding-left: 27px;
    margin-top: -11px;
}
#wrapper {
	    justify-content: flex-start;
	}

}


/* // Extra small devices (portrait phones, less than 559.99px) */

@media (min-width: 320px) and (max-width: 559.99px) {


}


@media (min-width: 560px) and (max-width: 575.99px) {

}

/* // Small devices (landscape phones, less than 768px) */


@media (min-width: 576px) and (max-width: 767.99px) {

}





@media (min-width: 768px) and (max-width: 990.99px) {
}





@media (min-width:991px) and (max-width:1199px){


}
/* // Large devices (desktops, less than 1200px) */

@media (min-width: 1220px) and (max-width: 3000px) {


}

@media (min-width: 1280px) and (max-width: 1600px) {

}