/*------------------------------------------------------------------
[Master Stylesheet]
/*
 Author: Sourav;
 Version: 1.0;
*/
-------------------------------------------------------------------*/
/*=======================================================================
                                Google Fonts
=========================================================================*/
.logo{

}
.logo img{
	width: 198px;
}
.active-class{
	color: #3695EB!important;
}

ul.navbar-nav.d-flex.justify-content-end {
    font-weight: 600;
}
.nav-link{

}
.header-row{
    justify-content: space-between;
}


/*Side Bar*/

 #wrapper {
    overflow-x: hidden;
    padding-top: 25px;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.menu-toggle-div {
    padding-left: 24px;
}

#menu-toggle{
    top: 10px;
    left: 20px;
    padding: 0;
    width: 35px;
    height: 35px;
    color: #3695eb;
    text-indent: 0;
    font-size: 35px;
    line-height: .9;
}

/*Side Bar*/






/*About us Section*/

.text-divider-double+.sep {
    margin: 0 0 30px;
}
.sep, .sep-2, .sep-3 {
    position: relative;
    display: block;
    clear: both;
    margin: 60px 0 30px;
    width: 90%;
    height: 1px;
    border-top: 1px solid;
    color: #dadade;
}

.sep:before {
    width: 60px;
    content: "";
    height: 2px;
    background: #3695eb;
    position: absolute;
    z-index: 55;
    top: -1px;
}

.about-us-section {
    flex-grow: 1;
}




/*About Us Section*/